name: Node.js CI Pipeline

on:
  push:
    branches-ignore:
      - main   
  pull_request:
    branches:
      - main 
jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mongo:
        image: mongo:6.0
        ports:
          - 27017:27017
        options: >-
          --health-cmd "echo 'ready'"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5


    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24.4.1   

      - name: Install dependencies
        working-directory: ./backend
        run: npm ci

      - name: Run ESLint
        working-directory: ./backend
        run: npx eslint .  
        continue-on-error: false

      - name: Run tests
        working-directory: ./backend
        env:
          MONGO_URI: mongodb://localhost:27017/tontine_test
        run: npm test

      - name: Build Docker image
        run: docker build -t my-app-image .
        -name: Run Tfsec (IaC Scanner)
        uses: aquasecurity/tfsec-action@v1.0.0
        with:
          working_directory: terraform
          soft_fail: false
          -name: Build Docker image for scanning
        run: docker build -t tontine-app:${{ github.sha }} .
        -name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'tontine-app:${{ github.sha }}'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'