name: Node.js CI Pipeline

on:
  push:
    branches-ignore:
      - main   
  pull_request:
    branches:
      - main 
jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mongo:
        image: mongo:6.0
        ports:
          - 27017:27017


    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24.4.1   

      - name: Install dependencies
        working-directory: ./backend
        run: npm ci

      - name: Run ESLint
        working-directory: ./backend
        run: npx eslint .  
        continue-on-error: false

      - name: Wait for MongoDB
        working-directory: ./backend
        run: |
          echo "Waiting for MongoDB..."
          until mongo --host localhost --port 27017 --eval "db.adminCommand('ping')" &> /dev/null
          do
            sleep 2
            echo "MongoDB not ready yet, waiting..."
          done
          echo "MongoDB is ready!"
          
      - name: Run tests
        working-directory: ./backend
        run: npm test

      - name: Build Docker image
        run: docker build -t my-app-image .